{
  trainingData = {
    trainInput = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/train-images-idx3-ubyte"
    trainLabel = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/train-labels-idx1-ubyte"
    testInput = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/t10k-images-idx3-ubyte"
    testLabel = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/t10k-labels-idx1-ubyte"
  }
  modelArch = {
    cnnLayer = {
      width = 1
      channel = 1
    }
    fcLayer = {
      hiddenLayerDims = { 1 }
    }
  }
  learningRateStrategy = {
    alpha = 0.005
  }
  regularizerConfig = {
    policy = L2
    lambda = 0.1
  }
  diagnosticsConfig = {
    lossIterations = 1000
    testErrorIterations = 5000
    verifyGradient = 1
    gradientVerifyDetails = 1
    learningCurveConfig = {
      writeTo = "learning.curve"
      writeOutEvery = 10
      flushEvery = 100
    }
  }
  evaluationConfig = {
    writeEvaluationDetailsTo = "evaluation.out"
    writeAll = 0
  }
  iterations = 300000
  batchSize = 64
  writeModelTo = "model.out"
}
