{
  trainingData = {
    trainInput = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/train-images-idx3-ubyte"
    trainLabel = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/train-labels-idx1-ubyte"
    testInput = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/t10k-images-idx3-ubyte"
    testLabel = "/data/users/rockyliu/fbsource/fbcode/experimental/rockyliu/mnist/data/t10k-labels-idx1-ubyte"
  }
  modelArch = {
    cnnLayer = {
      width = 3
      channel = 40
    }
    cnnLayer = {
      width = 3
      channel = 10
    }
    poolLayer = {
      width = 2
      stride = 2
    }
    cnnLayer = {
      width = 3
      channel = 10
    }
    poolLayer = {
      width = 2
      stride = 2
    }
    fcLayer = {
      hiddenLayerDims = { 800 }
    }
  }
  learningRateStrategy = {
    alpha = 0.005
  }
  regularizerConfig = {
    policy = L2
    lambda = 0.0
  }
  diagnosticsConfig = {
    lossIterations = 1000
    testErrorIterations = 5000
    verifyGradient = 0
    gradientVerifyDetails = 1
    learningCurveConfig = {
      writeTo = "learning.curve"
      writeOutEvery = 10
      flushEvery = 100
    }
  }
  evaluationConfig = {
    writeEvaluationDetailsTo = "evaluation.out"
    writeAll = 0
  }
  iterations = 100000
  miniBatchSize = 128
  evaluationBatchSize = 32
  writeModelTo = "model.out"
  threads = 32
}
